@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body
{
text-align: center;
}

section
{
margin-left: 5%;
margin-top: 6%;
margin-bottom: 5%;
width: 90%;
height: 90%;
color: black;
text-align: center;
border-radius: 6px;
}

#imageSite
{
             width: 124%;
             margin-right: -7%;
             margin-left: -14%;
             margin-top: -30%;
}

#barreFixe {
               position: fixed;
               opacity: 100%;
               width: 106%;
               height: 11%;
               margin-top: -1%;
               margin-left: -3%;
               display: flex;
               background-color: rgba(0, 0, 0, 0.500);
               font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;
             }

             ul
               {
                              list-style-type: none;
                              display: flex;
               }

               li
               {
                font-size: 150%;
               }

               nav
               {
                width: 100%;
                margin-right: 34%;
               }

               a
               {
                              text-decoration: none;
                              color: white;
               }

               .menuDeroulant
               {
                              color: #fff;
                              font-size: 30px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
                              background-color: rgba(128, 128, 128, 0.301);
                              border-radius: 6px;
                              margin-top: 50px;
                              width: 100%;
                              height: 100%;
                              padding-top: 1%;
                              padding-bottom: 1%;
                              padding-left: 5%;
                              padding-right: 5%;
                              margin-left: -40%;
                              display: none;
               }


               #logo
               {
                width: 20%;
                float: left;
                margin-top: 5%;
                margin-left: 5%;
               }

               
             article
             {
              font-family: 'Croissant one' ,'Courier New', Courier, monospace;
              text-align: center;
              width: 102.5%;
              margin-left: -6.2%;
              font-size: 100%;
              line-height: 200%;
              border: 1px black solid;
              padding: 5%;
             }

               @media screen and (min-width: 7771px) {   /*****  175 *****/

                li
                {
                               margin-top: 134px;
                               padding-left: 134px;
                               margin-left: 50;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
                #imageSite
                {
                             width: 120%;
                             margin-top: -60%;
                             position: fixed;
                }
              }
               @media screen and (max-width: 7771px) and (min-width: 7542px) {   /*****  170 *****/

                li
                {
                               margin-top: 130px;
                               padding-left: 130px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 2300px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
                #imageSite
                {
                             width: 120%;
                             margin-top: -60%;
                }
              }

               @media screen and (max-width: 7542px) and (min-width: 7314px) {   /*****  165 *****/

                li
                {
                               margin-top: 126px;
                               padding-left: 126px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 2200px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
                #imageSite
                {
                             width: 120%;
                             margin-top: -60%;
                }
              }

               @media screen and (max-width: 7314px) and (min-width: 7085px) {   /*****  160 *****/

                li
                {
                               margin-top: 122px;
                               padding-left: 122px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 2100px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
                #imageSite
                {
                             width: 120%;
                             margin-top: -60%;
                }
              }

               @media screen and (max-width: 7085px) and (min-width: 6857px) {   /*****  155 *****/

                li
                {
                               margin-top: 118px;
                               padding-left: 118px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 2000px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
}

               @media screen and (max-width: 6857px) and (min-width: 6628px) {   /*****  150 *****/

                li
                {
                               margin-top: 114px;
                               padding-left: 114px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1900px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 6628px) and (min-width: 6400px) {   /*****  145 *****/

                li
                {
                               margin-top: 110px;
                               padding-left: 110px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1800px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 6400px) and (min-width: 6171px) {   /*****  140 *****/

                li
                {
                               margin-top: 106px;
                               padding-left: 106px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1700px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 6171px) and (min-width: 5942px) {   /*****  135 *****/

                li
                {
                               margin-top: 102px;
                               padding-left: 102px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1600px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 5942px) and (min-width: 5714px) {   /*****  130 *****/

                li
                {
                               margin-top: 98px;
                               padding-left: 98px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1500px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }
               
               @media screen and (max-width: 5714px) and (min-width: 5485px) {   /*****  125 *****/

                li
                {
                               margin-top: 94px;
                               padding-left: 94px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1400px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 5485px) and (min-width: 5257px) {   /*****  120 *****/

                li
                {
                               margin-top: 90px;
                               padding-left: 90px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1300px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 5257px) and (min-width: 5028px) {   /*****  115 *****/

                li
                {
                               margin-top: 86px;
                               padding-left: 86px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1200px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 5028px) and (min-width: 4800px) {   /*****  110 *****/

                li
                {
                               margin-top: 82px;
                               padding-left: 82px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1100px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 4800px) and (min-width: 4571px) {   /*****  105 *****/

                li
                {
                               margin-top: 78px;
                               padding-left: 78px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 1000px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 4571px) and (min-width: 4342px) {   /*****  100 *****/

                li
                {
                               margin-top: 74px;
                               padding-left: 74px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 900px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 4342px) and (min-width: 4114px) {   /*****  95 *****/

                li
                {
                               margin-top: 70px;
                               padding-left: 70px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 800px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 4114px) and (min-width: 3885px) {   /*****  90 *****/

                li
                {
                               margin-top: 66px;
                               padding-left: 66px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 700px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 3885px) and (min-width: 3657px) {   /*****  85 *****/

                li
                {
                               margin-top: 62px;
                               padding-left: 62px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 600px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 3657px) and (min-width: 3428px) {   /*****  80 *****/

                li
                {
                               margin-top: 58px;
                               padding-left: 58px;
                               margin-left: 50;
                }
 
                ul 
                {
                 margin-left: 500px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }

               @media screen and (max-width: 3428px) and (min-width: 3200px) {   /*****  75 *****/

                li
                {
                               margin-top: 54px;
                               padding-left: 54px;
                               margin-left: 50;
                }
                ul 
                {
                 margin-left: 400px;
                }
                
                .menuDeroulant
                {
                               display: none;
                }
 
 #imageSite
 {
              width: 120%;
              margin-top: -60%;
 }
 }
                    
@media screen and (max-width: 3200px) and (min-width: 3085px) {   /*****  70 *****/

               li
               {
                              margin-top: 50px;
                              padding-left: 50px;
                              margin-left: 50;
               }

               ul 
               {
                margin-left: 300px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

#imageSite
{
             width: 120%;
             margin-top: -60%;
}
}


@media screen and (max-width: 3085px) and (min-width: 2856px) {   /***** 65  *****/

               li
               {
                              margin-top: 46px;
                              padding-left: 46px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: 200px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -60%;
               }
              }

@media screen and (max-width: 2856px) and (min-width: 2628px) {   /*****  60 *****/

               li
               {
                              margin-top: 42px;
                              padding-left: 42px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: 100px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -55%;
               }
               

}

@media screen and (max-width: 2628px) and (min-width: 2400px) {   /*****  55 *****/

               li
               {
                              margin-top: 39px;
                              padding-left: 39px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: 50px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -50%;
               }
               

}

@media screen and (max-width: 2400px) and (min-width: 2171px) {   /*****  50 *****/

               li
               {
                              margin-top: 35px;
                              padding-left: 35px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: -50px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -50%;
               }
               

}

@media screen and (max-width: 2171px) and (min-width: 1942px) {   /*****  45 *****/

               li
               {
                              margin-top: 32px;
                              padding-left: 32px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: -100px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -45%;
               }
               

}

@media screen and (max-width: 1942px) and (min-width: 1714px) {   /*****  40 *****/

               li
               {
                              margin-top: 28px;
                              padding-left: 28px;
                              margin-left: 50px;
               }
               

               ul 
               {
                margin-left: -125px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -40%;
               }
               

}

@media screen and (max-width: 1714px) and (min-width: 1485px) {   /*****  35 *****/

               li
               {
                              margin-top: 25px;
                              padding-left: 25px;
                              margin-left: 50px;
               }

               ul 
               {
                margin-left: -150px;
               }
               
               .menuDeroulant
               {
                              display: none;
               }

               #imageSite
               {
                            width: 120%;
                            margin-top: -30%;
               }
               

}


@media screen and (max-width: 1485px) and (min-width: 1256px) {   /*****  30 *****/

  li
  {
                 
   margin-top: 0px;
   padding-left: 17px;
   display: none;
   text-align: center;
   margin-left: -75%;
   width: 150%;
  }



               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: 20px
               }

               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }

               
  div nav ul:hover
  {
   margin-left: 5%;
  }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }

               .navTexte
               {
                              font-size: 30px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }
               
}

@media screen and (max-width: 1256px) and (min-width: 1028px) {   /*****  25 *****/

  li
  {
                 
   margin-top: 0px;
   padding-left: 17px;
   display: none;
   text-align: center;
   margin-left: -75%;
   width: 150%;
  }
  div nav ul:hover li
  {
   display: block;
   margin-left: -90%;
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 15px;
   padding-bottom: 15px;
   border: #fff solid 1px;
   background-color: rgba(25, 60, 99, 0.418);
  }

  
div nav ul:hover
{
margin-left: -5%;
}

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -40px
               }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }

               .navTexte
               {
                              font-size: 30px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }
}

@media screen and (max-width: 1028px) and (min-width: 800px) {   /*****  20 *****/

  li
  {
                 
   margin-top: 0px;
   padding-left: 17px;
   display: none;
   text-align: center;
   margin-left: -75%;
   width: 150%;
  }

  div nav ul:hover li
  {
   display: block;
   margin-left: -90%;
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 15px;
   padding-bottom: 15px;
   border: #fff solid 1px;
   background-color: rgba(25, 60, 99, 0.418);
  }

  
div nav ul:hover
{
margin-left: -5%;
}

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -50px;
               }

               div nav ul:hover li
               {
                display: block;
                padding-left: 40px;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }
               

}

@media screen and (max-width: 800px) and (min-width: 571px) {   /*****  15 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -60px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }

}

@media screen and (max-width: 571px) and (min-width: 411px) {   /*****  10 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -70px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }

}

@media screen and (max-width: 411px) and (min-width: 365px) {   /*****  9 *****/

  li
  {
                 
   margin-top: 0px;
   padding-left: 17px;
   display: none;
   text-align: center;
   margin-left: -75%;
   width: 150%;
  }

  div nav ul:hover li
  {
   display: block;
   margin-left: -90%;
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 15px;
   padding-bottom: 15px;
   border: #fff solid 1px;
   background-color: rgba(25, 60, 99, 0.418);
  }

  
div nav ul:hover
{
margin-left: -5%;
}

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -80px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 365px) and (min-width: 320px) {   /*****  8 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -90px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }


}

@media screen and (max-width: 320px) and (min-width: 274px) {   /*****  7 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -100px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 274px) and (min-width: 228px) {   /*****  6 *****/
               
  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -110px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 228px) and (min-width: 182px) {   /*****  5 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }

               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -120px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 182px) and (min-width: 137px) {   /*****  4 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }


               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -130px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }


               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 137px) and (min-width: 45px) {   /*****  3 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }
               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -140px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (min-width: 45px) and (max-width: 91px) {   /*****  2 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
               div nav ul:hover li
               {
                display: block;
                margin-left: -90%;
                padding-left: 30%;
                padding-right: 30%;
                padding-top: 15px;
                padding-bottom: 15px;
                border: #fff solid 1px;
                background-color: rgba(25, 60, 99, 0.418);
               }
             
               
             div nav ul:hover
             {
             margin-left: -5%;
             }


               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -150px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }

               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
               

}

@media screen and (max-width: 45px) {   /*****  1 *****/

  li
               {
                              
                margin-top: 0px;
                padding-left: 17px;
                display: none;
                text-align: center;
                margin-left: -75%;
                width: 150%;
               }
             
             div nav ul:hover li
  {
   display: block;
   margin-left: -90%;
   padding-left: 30%;
   padding-right: 30%;
   padding-top: 15px;
   padding-bottom: 15px;
   border: #fff solid 1px;
   background-color: rgba(25, 60, 99, 0.418);
  }

  
div nav ul:hover
{
margin-left: -5%;
}



               .menuDeroulant
               {
                              display: block;
               }

               ul
               {
                display: block;
                margin-left: -160px;
               }

               .navTexte
               {
                              font-size: 25px;
                              font-family: 'PT Sans Narrow' ,Arial, Helvetica, sans-serif;  
               }



               div nav ul:hover .menuDeroulant
               {
                background-color: rgba(25, 60, 99, 0.418);
                border: 1px solid gray;
               }
}